<table width="600" align="center" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="50" align="center" valign="center" style="background-color: #7159c1; color: #FFF; font-size: 15px; ">
      <strong>{{ title }}</strong>
    </td>
  </tr>
</table>
